.container-div {
    display: flex;
    justify-content: center;
}

.cargar {
    align-content: center;
}
.selectCont {
    padding: 10px;
    margin: 20px;
    width: 400px;
    font-family: 'Press Start 2P';
    border-radius: 20px;
}

.option {
    margin: 5px;
    font-family: 'Press Start 2P';
}

.optionGroup {
    padding: 10px;
    font-family: 'Press Start 2P';
}


/* .filter {
    border-color: red;
    display: flex;
    width: 480px;
    display: flex;
    text-align: center;
    justify-content:center;
    font-family: 'Poppins', sans-serif;
}

.filter div {
    width: 160px;
}

.filter select {
    width: 145px;
    border: 1px solid black;
    border-radius: 10px;
    background: none;
    margin: 5px;
}

.filter select:hover {
    background-color: rgb(56, 119, 255);
}

.filter option {
    background: none;
} */
